body {
  background-color: rgb(20, 20, 20);
  color: white;
}

li {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.container {
  display: flex;
  align-items: center;
  position: relative;
  padding: 30px;
}

.container::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid white;
}

.icon {
  /* color: white; */
  font-size: 20px;
  margin-right: 18px;
}

.title {
  /* color: white; */
  font-size: 18px;
  font-weight: 400;
}

.flex {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flex > * {
  margin-bottom: 20px;
}

.home-page-title {
  /* color: white; */
  font-size: 30px;
  font-weight: 200;
}

.agreement-title {
  color: rgb(123, 123, 123);
  font-weight: 200;
  font-size: 15px;
}

button {
  display: block;
  padding: 10px 170px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

#file-upload-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  gap: 1.2rem;
}

.file-btn-section {
  display: flex;
  gap: 10px;
}

.file-btn-section > button {
  padding: 5px 20px;
}
