body {
  background-color: rgb(20, 20, 20);
}

.container {
  display: flex;
  align-items: center;
  position: relative;
  padding: 30px;
}

.container::after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 1px solid white;
}

.icon {
  color: white;
  font-size: 20px;
  margin-right: 18px;
}

.title {
  color: white;
  font-size: 18px;
  font-weight: 400;
}

.flex {
  padding-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flex > * {
  margin-bottom: 20px;
}

.home-page-title {
  color: white;
  font-size: 30px;
  font-weight: 200;
}

.agreement-title {
  color: rgb(123, 123, 123);
  font-weight: 200;
  font-size: 15px;
}

button {
  padding: 10px 170px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.label {
  color: white;
}

.select-label {
  display: block;
  margin-top: 20px;
  color: white;
}

.simplify-text-container {
  position: relative;
  margin: 1rem 0;
}

.textarea,
.select {
  padding: 20px;
  width: 100%;
  height: 60px;
  overflow: hidden;
  border: 1px solid rgb(43, 43, 43);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 1rem;
  font-family: 'Arial', sans-serif;
  transition: border-color 0.3s, box-shadow 0.3s;
  resize: none;
  background-color: rgb(30, 30, 30);
  margin-top: 10px;
  color: rgb(104, 104, 104);
}

.textarea::placeholder {
  font-size: 15px;
  color: rgb(104, 104, 104);
}

.textarea:focus,
.select:focus {
  outline: none;
  border-color: #e1e1e1;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.3);
}

.select-area-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

select {
  appearance: none;
  font-size: 15px;
  color: rgb(104, 104, 104);
}
